<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ger´s Garage</title>

    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:#d4d4d4;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#345f66;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="~/Content/download.jpg" width="70" /></a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin: 10px;">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Bookings", "BookingsAdmin", "Manage")</li>
                        <li>@Html.ActionLink("Staff", "Staff", "Account", routeValues: null, htmlAttributes: new { id = "registerStaffLink" })</li>
                        <li>@Html.ActionLink("Services / Auto Parts", "ServicesAndParts", "Manage")</li>
                    }
                    else if (User.IsInRole("Customer"))
                    {

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("Book a service", "Booking", "Manage")</li>

                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Bookings", "BookingsAdmin", "Manage")</li>
                        <li>@Html.ActionLink("Services / Auto Parts", "ServicesAndParts", "Manage")</li>

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="background-color:#ffffff;padding-top: 15px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ger’s Garage</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moments")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTable")
    @Scripts.Render("~/bundles/bootstrap-datepicker")

    @RenderSection("scripts", required: false)
</body>
</html>
