@model GarageManagement.Models.PrintView
@{
    ViewBag.Title = "Invoice";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ger´s Garage</title>

   

</head>
<body>

    <table>
        <tr><td>Customer: </td><td>@Model.Booking.Customer.Name</td></tr>
        <tr><td>Mob No: </td><td>@Model.Booking.Customer.ContactNumber </td></tr>
        <tr><td>Vehicle: </td><td>@Model.Booking.Make</td></tr>
        <tr><td>Licence: </td><td>@Model.Booking.Licence</td></tr>
    </table>
    <br /><br />

          <table>
              <tr><td>@Model.Booking.BookingTypes.Name: </td><td>$ @Model.Booking.BasicCost</td></tr>
              @{                  
                  foreach (var item in Model.Products)
                  {

                      <tr><td>@item.ServicesAndParts.Name: </td><td>$ @(item.Qtd*item.Price)</td></tr>
                  }
              }
              
              <tr><td><b>Total Due:</b> </td><td><b>$ @(Model.Products.Sum(x=> x.Qtd*x.Price) + Model.Booking.BasicCost )</b></td></tr>
          </table>
    
    <script>
        window.print();
    </script>
  
</body>
</html>
